* {
    box-sizing: border-box;
    margin:0
}

.box{
    width:200px;
    height:200px;
    border-radius: 30px;
    background-color: #0066ff;
    transform: translate(100px, 100px);
}

p {
    background-color: #ffc82c;
}