* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
    background-color: #b7b7b7;
    border-radius: 10px;
  }
  

  ul {
    list-style-type: none;
    padding-left: 0;
    display:block;
    max-width : 540;
    height: 70px;
    background-color: #fff;
    border: none;
    margin: auto;
    margin-top : 100px;
  }

  ul::after{
    content: " ";
    display: block;
    clear:left;
  }

  li {
    display:block;
    float:left;
    padding: 15px;  
    margin-right: 16px;
  }

  a {
    display : block;
    font-size: 18px;
    line-height: 20px;
    color: #696e75;
    text-decoration: none;
    padding:16px 20px;
  }
  
  a:hover {
    color:rgb(117, 167, 255);
  }
  a:focus {
    color:rgb(21, 105, 250);
    font-weight: bold;
    border-bottom : 2px solid rgb(21, 105, 250);
  }
  
